html {
  overflow-x: scroll;
  font-family: monospace;
}

html {
  font-size: 5px;
  /* unitless allows us to just multiply by the font-size. */
  line-height: 0.5;
}

div {
  white-space: pre;
  overflow: hidden;
}