html {
  overflow-x: scroll;
  font-family: monospace;
}




#ascii-container {
  left: 50vw;
  transform: translateX(-50%)
}

html {
  font-size: 4px;
}

div {
  white-space: nowrap;
  overflow: hidden;
}